{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Topic edit{% endblock title %}

{% block centerPanel %}
    {{ parent() }}

         <div class="row page-top-header ">
            <div class="page-title col-xs-2  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <span>List</span>
            </div>

            <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
            </div>
            <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <a class="btn btn-info btn-create create" href="{{ path('schedule_topic_new') }}" title="Add a topic">
                     <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="row page-content">
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-4 well">
                <form id ="filter_form" class="form-inline" method="get" role="form" >
                        {{ form_widget(filters_form) }}
                        </br>
                     <a id="submit_form_filter" class="btn btn-default btn-block" onclick="filter()" ><i class="fa fa-filter"></i></a>
                </form>
             </div>
           </div>

        <div id="topic_list">
           {% include "fibeWWWConfBundle:Topic:list.html.twig" %}
        </div>
        </div>
{% endblock %} 


{% block javascripts_page %}
<script type="text/javascript">

    function filter(){
        $datas = $("#filter_form").serialize();

        //start send the post request
         $.post("{{path('schedule_topic_filter')}}",               
                 $datas, 
              function(response){
                     $('#topic_list').html(response);
                  
              }, "html");    
          return false;
    };
</script>

{% endblock javascripts_page %}
