<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="{{ path('fos_user_profile_show') }}">
        <i class="fa fa fa-user fa-3x"></i><span> {{ app.user.username }}</span>
      </a>
    </h4>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="{{ path('logout') }}" title="logout">
        <i class="fa fa-sign-out fa-3x"></i> Logout
      </a>
    </h4>
  </div>
</div>
