{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Index{% endblock title %}

{% block body %}
{{ parent() }}
 {% block center %}
<div class="container">
  <div class="row center">
    <div class="page-header">

      <table class="table table-hover records_list">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
          <tr>
            <td>{{ entity.name }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
  {% endblock %}