# intellij files
*.iml
.idea

composer.lock

src/fibe/MobileAppBundle/Resources/public/DataConf/

reset

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
!web/uploads/livecon.png
web/bundles/*
vendor/*

# Symfony files
app/config/parameters.yml
app/bootstrap.php.cache

# gedit temp file
*~
