# intellij files
*.iml
.idea

/src/fibe/MobileAppBundle/Resources/public/DataConf/

reset

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
!web/uploads/livecon.png
web/bundles/*
vendor/*

# Configuration files
app/config/parameters.yml

app/bootstrap.php.cache

# gedit temp file
*~
