
# services:
#     event.listener:
#         class: fibe\Bundle\WWWConfBundle\Listener\updateChildrenDate
#         arguments: ["@session"]
#         tags:
#             - { name: doctrine.event_listener, event: prePersist }
#             - { name: doctrine.event_listener, event: preUpdate }


idci_exporter:
    api_route: "/api/{entity_reference}.{_format}"
    entities:
        WwwConf:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\WwwConf"
            formats:
                xml:
                    transformer:
                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.xml.twig"
        schedule_event:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\ConfEvent"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"


        schedule_category:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\Category"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"
        schedule_location:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\Location"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"

        schedule_organization:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\Organization"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"

        schedule_paper:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\Paper"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"

        schedule_person:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\Person"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"

        schedule_role:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\RoleType"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"

        schedule_topic:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\Topic"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"

        schedule_sponsor:
            class: "fibe\\Bundle\\WWWConfBundle\\Entity\\Sponsor"
            formats:
                jsonp:
                    transformer:
#                        service: "idci_exporter.transformer_twig"
                        options:
#                            template_path:
                            template_name_format: "export.json.twig"