<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Seamposium</title>
        {% block stylesheets %}
         
        {% endblock %}
        <script type="text/javascript" src="{{ asset('jquery.min.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('bundles/fibewwwconf/js/bootstrap.min.js') }}"></script>   
         
        {% block javascripts %}
        {% endblock%}
    </head>
    <body>
        
            {% block body %} 
            {% endblock %}
    </body> 
        
</html>










