{% extends '::base.html.twig' %}

{% block title %}Index{% endblock title %}
{% block body %}


<div class="hero-unit">
  <h1>Seamposium</h1>
  <p>Welcome to the dashboard of Seamposium</p>
  <div class="row-fluid">

      <div class="col-lg-4">
           <div class="btn-group"> 
              <a href="{{ path('schedule_view') }}" role="button" class="btn btn-success btn-large">
                <span class="icon-calendar"></span> Manage schedule 
              </a>
          </div>
      </div>
        <div class="col-lg-4">
           <div class="btn-group"> 
              <a href="{{ path('userData_view') }}" role="button" class="btn btn-success btn-large">
                <span class="icon-calendar"></span> Manage user data 
              </a>
          </div>
      </div>
        <div class="col-lg-4">
           <div class="btn-group"> 
              <a href="{{ path('mobileApp_view') }}" role="button" class="btn btn-success btn-large">
                <span class="icon-calendar"></span> Manage mobile app 
              </a>
          </div>
      </div>
  </div>
</div>
      

{% endblock body %}




