{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Categories{% endblock title %}

{% block centerPanel %}
  {{ parent() }}

  <div class="row page-top-header ">
    <div class="page-title  col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <span>Category list</span>
      <a class="btn btn-info" href="{{ path('documentation', { 'anchor': 'Category' }) }}" target="_blank" title="Help">
        <i class="fa fa-question"></i>
      </a>
    </div>

    <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
    </div>
    {% if is_granted('CREATE', app.user.getCurrentConf()) %}
      <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
        <a class="btn btn-info btn-create create" href="{{ path('schedule_category_new') }}" title="Add a category">
          <i class="fa fa-plus"></i> New Category
        </a>
      </div>
    {% endif %}

  </div>
  <div class="row page-content">
    <div id="category_list" class="table-responsive">
      {% include "fibeWWWConfBundle:Category:list.html.twig" %}
    </div>
  </div>

{% endblock %}
