

<form action="{{ path('mobileAppTheme_update', { 'id': entity.id }) }}" method="post">
    {{ form_widget(mobile_app_form) }}
    <button type="submit" class="btn btn-danger"><i class="icon-remove"></i></button>
</form>


