/*-------------------------------------------------------------------------------------
--------------------------------------GLOBAL-----------------------------------------
-------------------------------------------------------------------------------------*/
body{
	min-width:750px;
}



/*-------------------------------------------------------------------------------------
--------------------------------------NAVBAR-----------------------------------------
-------------------------------------------------------------------------------------*/
.navbar{
	background-color : #f2f2f2;
	border-bottom : 2px solid #19313b;
	margin-bottom : 30px;
}

.nav{
	margin-top:15px;
}


/*-------------------------------------------------------------------------------------
--------------------------------------CONTENT-----------------------------------------
-------------------------------------------------------------------------------------*/
.center{
	/*min-height : 1000px;*/

	padding: 1.5em 1.5em 10.5em;
	margin-bottom: 1.5em;
	min-height : 800px;
	border: solid 2px #19313b;
	background-color: #eeeeee;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}


/*.form-control
{
	width:40% !important;
	padding-left :40% !important;

}

option
{
	lineheight: 40% !important ;
}*/

.equipment_button >.delete_equipment
{
	margin-bottom: 50%;

}


.badge-success{
	/*background-color: #47a447;*/
	background-color: #5cb85c;
}


/*-------------------------------------------------------------------------------------
--------------------------------------FOOTER-----------------------------------------
-------------------------------------------------------------------------------------*/
footer {
	border-top : 2px solid #f2f2f2;
	font-family: QuickSandBold, sans-serif;
	margin-top: 30px;
	background:#19313b;
	padding-top: 30px;
	color:#f2f2f2 ;
}

footer a {
	color:#f2f2f2 ;

}
