/*-------------------------------------------------------------------------------------
--------------------------------------GLOBAL-----------------------------------------
-------------------------------------------------------------------------------------*/
body{
	min-width:500px;
}



/*-------------------------------------------------------------------------------------
--------------------------------------MAINNAVBAR-----------------------------------------
-------------------------------------------------------------------------------------*/
#main-navbar{
	background-color : #f2f2f2;
	border-bottom : 2px solid #19313b;
	margin-bottom : 0px !important;
}

.nav{
	padding-left : inherit;
}

.navbar-collapse{
	overflow-x: hidden;
}


/*-------------------------------------------------------------------------------------
--------------------------------------MENUNAVBAR----------------------------------------
-------------------------------------------------------------------------------------*/


#menu-navbar{
		
	margin-bottom: 0px !important;
	background:#19313b;
	color:#f2f2f2 ;
}


#menu-navbar ul *{
	background:#19313b;
	color:  #f2f2f2;
}


#menu-navbar .btn-conf {
	background:#f2f2f2;
	border: none;
	margin-top : -4px;
	margin-left : 10px;


	overflow : hidden;
	border-radius: 0px  0px 20px 20px;
	width : 230px;
	color: #19313b;
}




#menu-navbar .dropdown-menu>li>a {
		background:#19313b !important ;
		color:#f2f2f2 !important ;

}

#menu-navbar .dropdown-menu > li :hover{
			background:#f2f2f2!important ;
		color: #19313b !important ;
}

#menu-navbar li :focus{
		background:#19313b !important ;
		color:#f2f2f2 !important ;
}

/*-------------------------------------------------------------------------------------
--------------------------------------BREADCRUM-ENTITIES-----------------------------------------
-------------------------------------------------------------------------------------*/

.breadcrum {
	border-bottom: solid 2px #19313b;
	margin-top: 20px;
	
	color: ;

}
.breadcrum>li.active>a {

	background-color:#f2f2f2;
	border-bottom:none;
}
.breadcrum > li > a{
	background-color:#999;
	color : #f2f2f2 ; 
}
.breadcrum > li .active {
	background-color : #eeeeee;
}




/*-------------------------------------------------------------------------------------
--------------------------------------CONTENT-----------------------------------------
-------------------------------------------------------------------------------------*/
.center{
	/*min-height : 1000px;*/

	padding: 0.5em 1.5em 10.5em;
	margin-bottom: 1.5em;
	min-height : 800px;
	border-bottom: solid 2px #19313b;
	border-right: solid 2px #19313b;
	border-left: solid 2px #19313b;
	background-color: #eeeeee;
	-webkit-border-bottom-left-radius: 18px;
	-moz-border-bottom-left-radius: 18px;
	border-bottom-left-radius: 18px;
	-webkit-border-bottom-right-radius: 18px;
	-moz-border-bottom-right-radius: 18px;
	border-bottom-right-radius: 18px;
}


/*.form-control
{
	width:40% !important;
	padding-left :40% !important;

}

option
{
	lineheight: 40% !important ;
}*/

.equipment_button >.delete_equipment
{
	margin-bottom: 50%;

}


.badge-success{
	/*background-color: #47a447;*/
	background-color: #5cb85c;
}

.page-title{
	border-bottom: solid 2px #19313b;
	background:#19313b;
	color:  #f2f2f2;
}

.page-title > span{
	font-size: 1.5em;
}


.page-btn-list{
	border-bottom: solid 2px #19313b;
	background:#19313b;
	color:  #f2f2f2;
}
/*-------------------------------------------------------------------------------------
--------------------------------------FOOTER-----------------------------------------
-------------------------------------------------------------------------------------*/
footer {
	border-top : 2px solid #f2f2f2;
	font-family: QuickSandBold, sans-serif;
	background:#19313b;
	padding-top: 30px;
	color:#f2f2f2 ;
}

footer a {
	color:#f2f2f2 ;

}




/*-------------------------------------------------------------------------------------
--------------------------------------LOG-----------------------------------------
-------------------------------------------------------------------------------------*/

 #bootstrap_alert{
        position     : fixed;
        top          : 1em ;
        right        : 1em ; 
        max-width    : 60em;
        max-height   : 20em;
        z-index      : 3001;
        text-overflow: ellipsis;
        overflow     : hidden;
        white-space  : nowrap;
    }     
    #bootstrap_alert ul{
        margin: 1em 0 1 0.5em;
    }


/*-------------------------------------------------------------------------------------
-----------------------------------------Button----------------------------------------
--------------------------------------------------------------------------------------*/
/* Switch Button */
.has-switch span.switch-left, .has-switch span.switch-livecon {
color: #fff;
background: #315F73;
}
