<div class="navbar navbar-default" role="navigation" style="background:#19313b">

      <div class="navbar-header">
         
           <button type="button"  id="sidebar-right-toggle" ng-click="toggleNavRight()" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
            <i class="fa fa-user fa-1x"></i>
           </button>
            <button type="button"  id="sidebar-left-toggle" ng-click="toggleNavLeft()" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
            <i class="fa fa-bars fa-1x"></i>
           </button>
            
           <a  href="#" title="Go back to Index" > <img style="height:45px; width:auto;" src="{{liveconLogoPath}}"/></a>
      </div>
      
       <!-- <h3 id="title" class="navbar-text navbar-right">{{title}}</h3> -->
      
  </div>