
<div id="sidebar-left-wrapper" class="sidebar-nav-wrapper ">
    <input type="text" class="form-control" placeholder="Search" ng-model="query">
    <ul class="sidebar-nav">
        <li  class="list-group-item"><a href="#conference"><i class="fa fa-calendar fa-2x"></i>  Conference</a>
        </li>
        <li class="list-group-item">
             <span class="badge">14</span><a href="#publications"><i class="fa fa-book fa-2x"></i>  Publications</a>
        </li>
        <li class="list-group-item">
             <span class="badge">32</span><a href="#organizations"><i class="fa fa-users fa-2x"></i>  Organizations</a>
        </li>
        <li  class="list-group-item">
            <span class="badge">150</span><a href="#speakers"><i class="fa fa-user fa-2x"></i>  Speakers</a>
        </li>
         <li class="list-group-item">
             <span class="badge">500</span><a href="#attendees"><i class="fa fa-user fa-2x"></i>  Attendees</a>
        </li>
        <li class="list-group-item"><a href="#locations"><i class="fa fa-map-marker fa-2x"></i>  Locations</a>
        </li>
        <li class="list-group-item"><a href="#schedule"><i class="fa fa-calendar fa-2x"></i>  Schedule</a>
        </li>
        <li class="list-group-item"></i><a href="#infos"><i class="fa fa-info fa-2x"></i>  Infos</a>
        </li>
         <hr/>
        <li class="list-group-item"><a href="#help"><i class="fa fa-magic fa-2x"></i>  Help</a>
        </li>
        <br/>
        <br/>
        <li><p style="text-align:center;">Powered by live-con.com</p>
            <img src="{{liveconLogoPath}}" style="margin-left:55px;height:30px;width:auto;"/>
        </li>
    </ul>
  
</div>