 <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-4 well">
                <form id ="filter_form" class="form-inline" method="get" role="form" >
                        {{ form_widget(filters_form) }}
                        </br>
                     <a id="submit_form_filter" class="btn btn-default btn-block" onclick="filter()" ><i class="fa fa-filter"></i></a>
                </form>
             </div>
           </div>