<div ng-include="'../../web/bundles/frontend/app/partials/dashboards/dashboard-conference.html'"></div>
<div ng-include="'../../web/bundles/frontend/app/partials/schedule/schedule-views.html'"></div>

 <div class="row">
	<div class="col-lg-3">
	  <i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-3">
	 <i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-3">
	 <i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-3">
	 <i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
</div><!-- /.row -->
 <div class="row">
	<div class="col-lg-3">
	 <i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-3">
	<i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-3">
	 <i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-3">
	<i class="fa fa-calendar-o fa-4x"></i>
	  <h2>Event 1</h2>
	  <p>Start at: 24th october 16h</p>
	  <p>Start at: 24th october 16h</p>
	  <p>Location: Room 24</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
</div><!-- /.row -->