{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Index{% endblock title %}
{% block body %}

{{ parent() }}

<div class="hero-unit">
        <h1>SWC event linker</h1>
        <p>This app has been made to manage a conference using SWC ontology.</p>
        <div class="row-fluid">
            <div class="col-lg-4">
                <div class="btn-group">
                    {% if app.user.wwwConf %}
                    <a href="{{ path('wwwconf_schedule') }}" role="button" class="btn btn-success btn-large">
                      <span class="glyphicon glyphicon-calendar glyphicon-white"></span> Manage schedule 
                    </a>
					 {% endif %}

                    {% if app.user.wwwConf %}
                    <a href="{{ path('wwwconf_schedule') }}" role="button" class="btn dropdown-toggle btn-success btn-large" data-toggle="dropdown">
                         <span class="glyphicon glyphicon-list glyphicon-white"></span> 
                    </a>
                     
                    {% endif %}
                </div>
            </div>
			       <div class="col-lg-4">

                <a href="{{ path('wwwconf_conference_edit') }}" role="button" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cog glyphicon-white"></span>  Manage conference </a>

            </div> 
        </div>
      </div>
      

{% endblock body %}




