<div class="row" style="border: 2px solid #999; background: #9D84A5">

    <form id ="filter_form"  method="get" >
             <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
             	<label> Filters : </label>
             </div>
            {% for child in filters_form %}
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">

			  	  {{ form_widget(child) }}

			  </div>
			{% endfor %}
         
          <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1">
         <a id="submit_form_filter" class="btn btn-default btn-block" onclick="filter()" ><i class="fa fa-search"></i></a>
     </div>
    </form>
 </div>
