

.symfony-content{


	background-image: url(../../../img/bg_texture2.jpg); background-position: initial initial; background-repeat: initial initial;
}



.row{
	border: solid 2px #333333;
	background-color: #eeeeee;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}


.parallelogramRight{
     width:200px; 
     min-height:300px; 
     border:1px solid #000; 
     margin-left: -160px;
	 margin-right: 120px;
     background:#ed9c28;
     transform: skew(-20deg); 
     margin-bottom: 20px;
     -webkit-transform: skew(0deg,7deg);
-webkit-box-shadow: -3px 4px 6px rgba(50, 50, 50, 0.66);
-moz-box-shadow:    -3px 4px 6px rgba(50, 50, 50, 0.66);
box-shadow:         -3px 4px 6px rgba(50, 50, 50, 0.66);
}

.parallelogramLeft{
     width:200px; 
     min-height:300px; 
     border:1px solid #000; 
     background:#ed9c28;
     transform: skew(-20deg); 
 	margin-bottom: 20px;
	 margin-left: 50px;
     -webkit-transform: skew(0deg,-7deg);
     -webkit-box-shadow: 8px 7px 6px rgba(50, 50, 50, 0.66);
-moz-box-shadow:    8px 7px 6px rgba(50, 50, 50, 0.66);
box-shadow:         8px 7px 6px rgba(50, 50, 50, 0.66);
}

#carousel{
	height: 200px;
	overflow:hidden;
}

.btn-menu{
	width: 180px;
}

