/*-------------------------------------------------------------------------------------
--------------------------------------IMPORT TYPOS-------------------------------------
-------------------------------------------------------------------------------------*/

/*------------------------------UNIVERS----------------------------------------------*/

@font-face {
  font-family: 'QuickSand';
  src: url(../font/Quicksand_Book.otf) format('OpenType');
}

@font-face {
  font-family: 'QuickSandBold';
  src: url(../font/Quicksand_Bold.otf) format('OpenType');
}






/*-------------------------------------------------------------------------------------
--------------------------------------GENERAL------------------------------------------
-------------------------------------------------------------------------------------*/

*{
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

body{
	background: #f2f2f2;
}


h1{
	font-family: QuickSandBold, sans-serif;
	font-size: 43px;
	line-height: 50px;
	color: #19313b;
	text-transform: uppercase;
}

h2{
	font-family: QuickSandBold, sans-serif;
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	color: #19313b;
}

h3{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: #19313b;
	font-weight: bold;
}

p{
	font-family: Helvetica, Arial sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #19313b;
}

b{font-weight: bold;}

.content{
	position: relative;
	z-index: 1;
}

.logoname{
	font-family: QuickSand, sans-serif;
	text-transform: none;
}
	
.logoname b{
	font-family: QuickSandBold, sans-serif;
}


.btn{
	background: #19313b;
	height: 40px;
	font-family: QuickSand, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #f2f2f2;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 4px #44585f;
}

.btn:hover, .btn:focus{
	height: 41px;
	color: #ffffff;
	box-shadow: 0 3px #44585f;
}

a{
	text-decoration: none !important;
	outline: 0 !important;
}

*::-moz-selection { /* Pour firefox */
	background:#666;
	color:white;
}

*::-webkit-selection { /* Pour firefox */
	background:#666;
	color:white;
}

*::selection { /* Pour les autres */
	background: #666;
	color:white;
}

input, textarea {
outline: none;
}





/*-------------------------------------------------------------------------------------
--------------------------------------HEADER------------------------------------------
-------------------------------------------------------------------------------------*/

#header{
	position: fixed;
	background: #f2f2f2;
	width: 100%;
	height: 70px;
	left: 0px;
	top: 0px;
	padding-top: 10px;
	border-bottom: 1px solid #19313b;
	z-index: 100;
}

	#header #menu{
		margin-top: 17px;
	}

		#header #menu ul{
			float: right;
		}

			#header #menu ul li{
				float:left;
				margin-left: 20px;
			}

				#header #menu ul li a{
					font-family: QuickSand, sans-serif;
					font-size: 16px;
					line-height: 30px;
					color: #19313b;
				}

				#header #menu ul li a:hover, #header #menu ul li a:focus{
					color: #44585f;
				}

	#entete{
		position: relative;
		background: url(../img/entete.jpg) no-repeat center bottom fixed;
		background-size: cover;
		width: 100%;
		height: 550px;
		margin-top: 70px;
	}


	#entete .grid_5{
		width:400px;
		margin-top: 120px;
	}

	#entete h1{
		font-size: 39px;
		text-align: justify;
	}

		#entete h1:first-line{
			font-size: 43px;
		}


	#entete h2{
		font-size: 29px;
		font-family: QuickSand, sans-serif;
		line-height: 30px;
		text-align: justify;
	}

	#entete p {
		text-align: justify;
		margin-top: 5px;
	}

		#entete p b{
			font-weight: bold;
		}

	#entete .btn{
		margin-left: 40px;
		margin-top: 25px;
	}





/*-------------------------------------------------------------------------------------
--------------------------------------OVERVIEW----------------------------------------
-------------------------------------------------------------------------------------*/

#overview{
	position: relative;
	background: #d1d1d1;
	width: 100%;
	height: 1050px;
	overflow: hidden;
}

	#overview hr{
		position: absolute;
		background: #aaaaaa;
		border: none;
		width: 2px;
		height: 920px;
		left: 50%;
		top: 130px;
	}

	#overview h1{
		text-align: center;
		margin-top: 70px;
		margin-bottom: 80px;
	}

	.elements{
		margin-top: 50px;
	}

	.element{
		position: relative;
		background: url(../img/element.png) no-repeat;
		width: 410px;
		height: 70px;
		padding-left: 63px;
		left: -7px;
		margin-bottom: 30px;
	}

	.element img{
		width: 50px;
		float: left;
	}


	.element p{
		margin-left: 25px;
		width: 270px;
		float: left;
	}

	#overview .clearfix{
		margin-bottom: 20px;
	}

	#overview .grid_4{
		width: 320px;
	}

	#overview h2{
		color: #818181;
		text-align: right;
		padding-right: 40px;
		margin-bottom: 50px;
	}

	#overview .grid_1{
		text-align: right;
	}

	#overview .grid_1 img{
		width: 50px;
	}

	#overview p{
		font-size: 17px;
		line-height: 20px;
		margin-top: 5px;
	}






#before h1,#during h1,#after h1{
	margin-top: 40px;
	margin-left: 10px;
}

.number{
	font-family: QuickSandBold, sans-serif;
	font-size: 60px;
	line-height: 60px;
	color: #19313b;
	text-align: right;
}

/*--------------------BEFORE-------------------------*/

#before{
	position: relative;
	background: #f2f2f2;
	width: 100%;
	height: 800px;
	overflow: hidden;
}

#before .illustration{
	position: absolute;
	background: url(../img/illustration/before.png) no-repeat;
	width: 620px;
	height: 563px;
	top: 170px;
	left: 50%;
	margin-left: -470px;
}

#before #overview01{
	position: absolute;
	margin-left: 320px;
	top: 130px;
}

#before .explain{
	position: absolute;
	top: 255px;
	margin-left: 650px;
}

#before #overview02{
	position: absolute;
	margin-left: 560px;
	top: 680px;
}






/*--------------------DURING-------------------------*/

#during{
	position: relative;
	background: #d4d4d4;
	width: 100%;
	height: 650px;
	overflow: hidden;
}

#during h1{
	margin-bottom: 30px;
}

#overview03, #overview04{
	width: 400px;
}

#overview03{
	margin-top: 50px;
}

#overview04{
	margin-top: 45px;
}






/*--------------------AFTER-------------------------*/

#after{
	position: relative;
	background: #f2f2f2;
	width: 100%;
	height: 630px;
	overflow: hidden;
}

#after h1{
	margin-bottom: 70px;
}

#after .grid_4{
	width: 290px;
}

.overview_after{
	position: relative;
	height: 420px;
}

#overview05{
	position: absolute;
	top: 0px;
	left: 0px;
}

#overview06{
	position: absolute;
	top: 270px;
	left: 0px;
}


/*--------------------Carousel-------------------------*/

#lastConferences{
	position: relative;
	background: #f2f2f2;
	width: 100%;
	height: 630px;
	overflow: hidden;
}

#lastConferences h1{
	margin-bottom: 70px;
}

#lastConferences .grid_4{
	width: 290px;
}

.overview_after{
	position: relative;
	height: 420px;
}

#overview05{
	position: absolute;
	top: 0px;
	left: 0px;
}

#overview06{
	position: absolute;
	top: 270px;
	left: 0px;
}


/*-------------------------------------------------------------------------------------
--------------------------------------THE APP----------------------------------------
-------------------------------------------------------------------------------------*/

#app{
	position: relative;
	background: url(../img/app.jpg) no-repeat center fixed;
	background-size: cover;
	width: 100%;
	height: 1080px;
	overflow: hidden;
}

	#app h1{
		color: #f2f2f2;
		text-align: center;
		margin-top: 70px;
	}

	#app #app01, #app #app02{
		position: relative;
		background: url(../img/iphone.png) no-repeat;
		height: 800px;
		margin-top: 80px;
	}

	#app #app01 iframe, #app #app02 iframe{
		position: absolute;
		width: 315px;
		height: 560px;
		top: 118px;
		left: 33px;
		cursor: url("../img/cursor.png"), pointer;
	}

	#app #app01{
		float: left;
	}

	#app #app02{
		float: right;
	}





/*-------------------------------------------------------------------------------------
--------------------------------------GET STARTED--------------------------------------
-------------------------------------------------------------------------------------*/

#getstarted{
	position: relative;
	background:#d4d4d4;/*#f2f2f2*/
	width: 100%;
	height: 500px;
}

	#getstarted h1{
		text-align: center;
		margin-top: 70px;
		margin-bottom: 50px;
	}

	#getstarted p{
		padding: 0px 40px;
		margin-top: 15px;
	}

	#getstarted .btn{
		margin-top: 55px;
	}




/*-------------------------------------------------------------------------------------
--------------------------------------THE TEAM--------------------------------------
-------------------------------------------------------------------------------------*/

#team{
	position: relative;
	background:#abb0b2;
	width: 100%;
	height: 630px;
}

	#team h1{
		margin-left: 10px;
		margin-top: 70px;
	}




/*-------------------------------------------------------------------------------------
--------------------------------------CONTACT-----------------------------------------
-------------------------------------------------------------------------------------*/

#contact{
	position: relative;
	background:#ffffff;
	width: 100%;
	height: 630px;
}

	#contact h1{
		margin-left: 10px;
		margin-top: 70px;
	}

	#contact #contactform{
		margin-top: 60px;
	}

	#contact p{
		font-size: 17px;
		line-height: 30px;
		color: #19313b;
	}


	#contact input, #contact textarea{
		background: #f3f3f3;
		width: 360px;
		height: 40px;
		font-family: Helvetica, Arial sans-serif;
		font-size: 14px;
		line-height: 40px;
		color: #19313b;
		border: 1px solid #cccccc;
		border-radius: 3px;
		padding: 0px 10px;
		margin-bottom: 17px;
	}

	#contact input#contact_confname{
		width: 460px;
	}

	#contact /*textarea*/#contact_message{
		width: 460px;
		height: 130px;
		line-height: 20px;
		margin-bottom: 0px;
	}

	#contact input#submitButton{
		background: #19313b;
		width: 220px;
		height: 40px;
		font-family: QuickSand, sans-serif;
		font-size: 17px;
		line-height: 40px;
		letter-spacing: 1px;
		color: #ffffff;
		float: right;
		margin-top: 20px;
		border: none;
	}

	#contact .requiredNote{
		font-family: Helvetica, Arial sans-serif;
		font-size: 12px;
		line-height: 20px;
		color: #19313b;
		text-align: right;
	}

	#contact #callback{
		font-family: Helvetica, Arial sans-serif;
		font-size: 12px;
		line-height: 20px;
		color: #19313b;
		text-align: right;
		display: none;
	}




/*-------------------------------------------------------------------------------------
--------------------------------------FOOTER-----------------------------------------
-------------------------------------------------------------------------------------*/

#footer{
	position: relative;
	background:#19313b;
	width: 100%;
	height: 220px;
	padding-top: 30px;
}

#footer h3{
	font-family: QuickSandBold, sans-serif;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	color:#ffffff;
}

#footer li{
	margin-left: 70px; 
}

#footer p{
	font-family: Helvetica, Arial sans-serif;
	font-size: 15px;
	line-height: 30px;
	color:#ffffff;
}

#footer .design{
	display: inline-block;
	float: left;
	margin-top: 20px;
}

#footer p.design{
	margin-left: 10px;
	line-height: 33px;
}

#footer img{
	margin-bottom: 10px;
}

#footer h4{
	font-family: QuickSandBold, sans-serif;
	font-size: 17px;
	line-height: 20px;
	text-transform: uppercase;
	color:#ffffff;
	text-align: center;
}

#footer #version p{
	font-size: 12px;
	text-align: right;
	margin-top: 10px;
}




/*-------------------------------------------------------------------------------------
--------------------------------------LOGIN-----------------------------------------
-------------------------------------------------------------------------------------*/

#login_page #background{
	position: fixed;
	background: url(../img/entete.jpg) no-repeat center bottom;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#login_page #login{
	position: absolute;
	background: url(../img/login_bg.png);
	width: 320px;
	height: 450px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -225px;
	padding: 0px 20px;
	font-family: Helvetica, Arial sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: #19313b;
}

#login_page #login img{
	margin-top:	30px; 
	margin-left:30px; 
}

	#login_page form{
		margin-top: 40px;
	}

	#login_page p{
		font-family: Helvetica, Arial sans-serif;
		font-size: 17px;
		line-height: 30px;
		color: #19313b;
	}


	#login_page input[type=text], #login_page input[type=password], #login_page input[type=email]{
		background: #f3f3f3;
		width: 280px;
		height: 40px;
		font-family: Helvetica, Arial sans-serif;
		font-size: 14px;
		line-height: 40px;
		color: #19313b;
		border: 1px solid #cccccc;
		border-radius: 3px;
		padding: 0px 10px;
		margin-bottom: 17px;
	}

	#login_page input#submitButton{
		position: relative;
		background: #19313b;
		width: 220px;
		height: 40px;
		font-family: QuickSand, sans-serif;
		font-size: 17px;
		line-height: 30px;
		letter-spacing: 1px;
		color: #ffffff;
		float: right;
		margin-top: 20px;
		border: none;
		left: -30px;
	}

	#login_page input#submitButton:hover{
		height: 41px;
		color: #ffffff;
		box-shadow: 0 3px #44585f;
	}


	/*-------------------------------------------------------------------------------------
--------------------------------------SIGNIN-----------------------------------------
-------------------------------------------------------------------------------------*/

#login_page #signin{
	position: absolute;
	background: url(../img/login_bg.png);
	width: 320px;
	height: 750px;
	left: 50%;
	margin-left: -160px;
	top: 50px;
	padding: 0px 20px;
	font-family: Helvetica, Arial sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: #19313b;
	margin-bottom: 50px;
}

#login_page #signin #logo{
	margin-top:	30px; 
	margin-left:30px; 
}

#signin input[type=text], #signin input[type=password], #signin input[type=email]{
		background: #f3f3f3;
		width: 280px;
		height: 40px;
		font-family: Helvetica, Arial sans-serif;
		font-size: 14px;
		line-height: 40px;
		color: #19313b;
		border: 1px solid #cccccc;
		border-radius: 3px;
		padding: 0px 10px;
		margin-bottom: 17px;
	}


#login_page .btn, .btn-success{
	background: #19313b;
	width: 180px;
	height: 40px;
	font-family: QuickSand, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #f2f2f2;
	text-align: center;
	border: none;
	border-radius: 3px;
	box-shadow: 0 4px #44585f;
	margin-left: 50px;
}

#login_page .btn-connect {
	width: auto;
	margin: 10px 0px 0px 34px;
}

#login_page.btn:hover, #login_page.btn:focus, #login_page.btn-success:hover, #login_page.btn-success:focus{
	border: none;
	background: #19313b;
	height: 41px;
	color: #ffffff;
	box-shadow: 0 3px #44585f;
}



/*-------------------------------------------------------------------------------------
--------------------------------------Datas Bundle Conferences-------------------------
-------------------------------------------------------------------------------------*/
.panel-livecon{
	border-color:#19313b
	}

.panel-livecon>.panel-heading{
	color:#fff;
	background-color:#19313b;
	border-color:#19313b
	}

.panel-livecon>.panel-heading+.panel-collapse 
.panel-body{border-top-color:#19313b}
.panel-livecon>.panel-footer+.panel-collapse 
.panel-body{border-bottom-color:#19313b}

	


	